.controller.ds4 {
    background-image: url(https://i.imgur.com/HpGb62I.png);
}

.ds4 .face {
    background-image: url(https://i.imgur.com/QtwTRGC.png);
}

.ds4 .button {
    background-image: url(https://i.imgur.com/YaWVIMr.png);
}

.ds4 .trigger {
    background-image: url(https://i.imgur.com/vlhDcqp.png);
}

.ds4 .bumper {
    background-image: url(https://i.imgur.com/J491Q7L.png);
}

.ds4 .touchpad.pressed {
    background: url(https://i.imgur.com/UzVfbfJ.png) no-repeat center;
}

.ds4 .stick {
    background-image: url(https://i.imgur.com/jXw7kOT.png);
}
.ds4 .start {
    background-image: url('https://gamepadviewer.com/ps4-assets/start.svgz') !important;
}