.controller.ds4 {
    background: url(https://i.imgur.com/knUp59O.gifv) repeat center;
}

.ds4 .face {
    background-image: url(https://i.imgur.com/f0EVW8E.png);
}

.ds4 .button {
    background-image: url(https://i.imgur.com/0oOOOC5.png);
}

.ds4 .trigger {
    background-image: url(https://i.imgur.com/BIpPHRz.png);
}

.ds4 .bumper {
    background-image: url(https://i.imgur.com/81G0S5f.png);
}

.ds4 .touchpad.pressed {
    background: url(https://i.imgur.com/L5nvDqt.png) no-repeat center;
}

.ds4 .stick {
    background-image: url(https://i.imgur.com/osgSKxq.png);
}
.ds4 .start {
    background-image: url('https://gamepadviewer.com/ps4-assets/start.svgz') !important;
}